body {
	margin:0;
	padding:0;
	background-image: url( url(../images/border.png);
	background-repeat:no-repeat;
	
}

form {
	border:2px solid #000;
}





#Holder {
	width:980px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	margin-top:21px;
	margin-bottom:21px;
}
#Container {
	width: 960px;
	margin:0 auto;
	background-color: #3877D6;
	height: 400px;
	margin-top: 10px;
}

#Header {
	height:170px;
	background-image:url(../images/gray.jpg);
	background-repeat:repeat;
	margin-bottom:11px;
}
#NavBar {
	height:60px;
	
	background-color:rgb(13,13,13);
}
#Content {
	height:auto;
	clear:auto;
	overflow:auto;
}
#PageHeading {
	height:auto;
	padding:11px;
}
#ContentLeft {
	width:150px;
	float:left;
	padding-top:11px;
	padding-left:11px;
}
#ContentRight {
	width:810px;
	float:right;
}
#Footer {
	height:100px;
}
h1 {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-weight:lighter;
}
h2 {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:lighter;
	#999;
}
#h6 {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:lighter;
	font-size:14px;
	#333;
}

